.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(8, 96, 183, 0.4);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(8, 96, 183, 0.2);
}

.table th,
.table td {
  border-top-color: transparent;
}

table {
  margin-top: 30px;
}

thead tr {
  background-color: rgb(8, 96, 183);

  th {
    color: #fff;
  }
}