<h3>
  Tutaj będzie lista oczekujących na pożyczenia książki z informacją
  <ul>
    <li>autor i tutył</li>
    <li>kto oczekuje</li>
  </ul>
</h3>


<ul>
  <li class="book-list" *ngFor="let review of reviews" (click)="onSelect(review)" [ngStyle]="{'border-color': review.tag}">
    <span>{{review.id}}</span> 
    <span>{{review.title}}:</span>
    <span>{{review.author}}</span>

  </li>
</ul>


<div class="selectedReview" *ngIf="selectedReview">
  <h2>Szczegóły recenzji {{selectedReview.title}}</h2>
    <div><label>id: </label>{{selectedReview.id}}</div>
    <div>
        <label>Edytuj tytuł: </label>
        <input [(ngModel)]="selectedReview.title" placeholder="name"/>
        <div>
          <label for="">Nadaj kolor</label>
          <input [(ngModel)]="selectedReview.tag" type="color" placeholder="name"/>
        </div>
    </div>
</div>