.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.nav-item a{
    color:#999;
}

.nav-item a.active{
    color:#7E7E7E;
}

.nav-item a:hover{
    color:#7E7E7E;
}

.navbar-brand{
    color: #000;
    font-weight: 700;
}

 .navbar-brand:hover{
        color: #000;
    }

.navbar{
    width: 100%;
}