    .table {
        width: 60%;
        max-width: 60%;
    }
    td{
        cursor:pointer;
    }

    th{
      color: #fff;
    }

    tr{
      background-color: rgba(2, 117, 216,0.5);
    }
    tr:first-child{
      background-color: rgba(2, 117, 216,0.9);
    }
    table{
      border: 1px solid transparent;
    }
    .button-blue{
      background-color: blue;
    }