.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(8, 96, 183, 0.4);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(8, 96, 183, 0.2);
}    


td{
        cursor:pointer;
    }

thead tr {
  background-color: rgb(8, 96, 183);

  th {
    color: #fff;
  }
}

    table{
      border: 1px solid transparent;
    }
    .button-blue{
      background-color: rgb(8, 96, 183);
      color: #fff;
    }

    .btn-blue{
      background-color: rgb(8, 96, 183);
      color: #fff;
    }

    .btn {
      border: none;
    }

    .btn-yes{
      background-color: rgba(8, 96, 183,0.7);
      color: #fff;
    }

    .btn-no{
      background-color: rgba(#dc3545,0.7);
      color: #fff;
    }