.error {
      display: inline-block;
      color: #fff;
      background-color: #d9534f;
      padding: 8px;
      margin: 0 0 10px 0;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 10px;
}