<h2>Strona logowania</h2>
<p>Message: {{message}}</p>
<form [formGroup]="loginForm" #lgForm="ngForm" (ngSubmit)="loginSubmit(lgForm.value)">
    
    <button class="btn btn-warning" (click)="logout()" *ngIf="isLogged">wyloguj</button>

    <div class="form-group">
        <input class="form-control" formControlName="email" type="email" placeholder="Your email" *ngIf="!isLogged">
    </div>

    <div class="form-group">
        <input class="form-control" formControlName="password" type="password" placeholder="Your password" *ngIf="!isLogged">
    </div>
        <button class="btn btn-primary" type="submit" *ngIf="!isLogged">Log in</button>
</form>




