.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row!important;
    max-width: 100%;
}

.navbar{
    background-color: #0D3757;
    width: 100%;

    .nav-link{
        color: #fff;
    }
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
}


.navbar ul {
       width: 100%;
       justify-content: space-between;
}

.navbar ul li{
    cursor: pointer;
}

.nav-item a{
    color:#fff;
}

.nav-item a.active{
    color:#7E7E7E;
}

.nav-item a:hover{
    color:#7E7E7E;
}

