<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="blog" routerLinkActive="active">Strona powitalna dla wszystkich</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="books" routerLinkActive="active">My library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="searchBooks" routerLinkActive="active">Find books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">Borrowed books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reviews" routerLinkActive="active">Waiting for books</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Panel administracyjny</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Zaloguj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/register" routerLinkActive="active">Zaprzyjaźnij się z biblioteką</a>
      </li>

      <div class="invitation">{{invitation}}</div>

    </ul>
  </div>
</nav>