body{
    max-width: 1920px;
    height: 100%;
    height: auto;
    overflow: auto;
}




.container{
    margin-top: 30px;
}

.form-log-in, .form-group{
    padding-top: 50px;
}

@media(max-width: 800px){
    .container{
        max-width: 100%;
    }
}