<table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> Imię </th>
          <th> Mail </th>
          <th> Zatwierdzony </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" class="playlist-row" (click)="delete(user)">
          <td> {{ i + 1 }}. </td>
          <td> {{ user.name }} </td>
          <td> {{ user.email }} </td>
          <td> {{ user.approved }} </td>
          <td>
              <button *ngIf="user.approved==true" class="btn btn-primary">Tak</button>
              <button *ngIf="!user.approved" class="btn btn-danger">Nie</button>
          </td>
        </tr>
        
      </tbody>
      
    </table>