<div *ngIf="message!=''" class="message">{{message}}</div>
<table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> Name </th>
          <th> Mail </th>
          <th> Approved </th>
          <th> Friend </th>
          <th> Delete </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" class="playlist-row">
          <td> {{ i + 1 }}. </td>
          <td> {{ user.name }} </td>
          <td> {{ user.email }} </td>
          <td>
              <button  [ngClass]="{'btn btn-yes': user.approved, 'btn-no btn': !user.approved}" (click)="changeApproval(user)" class="btn">{{user.approved ? 'Yes' : 'No'}}</button>

          </td>
             <td>
              <button [ngClass]="{'btn btn-yes': user.friend, 'btn-no btn': !user.friend}" (click)="changeFriend(user)" class="btn">{{user.friend ? 'Yes' : 'No'}}</button>
          </td>
            <td>
              <button class="btn btn-danger" (click)="delete(user)">Delete</button>
            </td>
        </tr>
        
      </tbody>
      
    </table>